{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row shoppingCart">
        <div class="col-8">
            <h1>Shopping Items</h1>
            {% if basket.itemCount %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in basket.all %}
                            <tr data-id="{{ item.product_id }}">
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    <a href="{{ path_for('product.get', {url : (item.product_url)}) }}">
                                    {{ item.product_name }}
                                    </a>
                                </td>
                                <td>{{ item.item_price | number_format(2) }}</td>
                                <td class="form-inline">                                    
                                    <button class="addQty btn btn-default btn-sm rounded-0 pl-2 pr-2" type="button">+</button>
                                    <input max="{{ item.product_stock }}" type="number" value="{{ item.qty }}" class="w-25 form-control form-control-sm rounded-0 qty_value" />
                                    <button class="subQty btn btn-default btn-sm rounded-0 pl-2 pr-2" type="button"> - </button> 
                                </td>
                                <td>{{ (item.qty * item.item_price) | number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no items in your cart. <a href="{{ path_for('homepage') }}">Start Shopping</a></p>
            {% endif %}
        </div>
        <div class="col-4">
            {% include 'cart/partials/summary.twig' %}
        </div>
    </div>

{% endblock %}

{% block js_scripts %}
<script src="{{ path_for('homepage') }}../resources/assets/js/cart.js"></script>
{% endblock %}